.title{
    font-size: 45px;
    text-align: center;
}

.subtitle{
    font-size: 20px;
    text-align: center;
    
}

#botao-login{
    position: absolute;
    top: 50%;
    left: 42%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}


#botao-criar{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}


@media screen and (max-width: 1024px) {
    #botao-login{
        position: absolute;
        top: 50%;
        left: 44%;
        margin-right: -50%;
        transform: translate(-50%, -50%) 
    }
    
    
    #botao-criar{
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%) 
    }
    
}

@media screen and (max-width: 2000px) {
    #botao-login{
        position: absolute;
        top: 50%;
        left: 44%;
        margin-right: -50%;
        transform: translate(-50%, -50%) 
    }
    
    #botao-criar{
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%) 
    }
    
}