body{
    overflow: hidden;
}

.nome_site{
    color: black;
}

.container{
    height: 100px;
    width: 300px;
    position: static;
}

.title{
    color: rgb(51, 180, 255) ;
    text-align: center;
}
.subtitle{
    text-align: center;
}

.login-box{
    display: flex;
    flex-direction: column;
    height: 550px;
    width: 500px;
    align-items: center;
    justify-content: center;
    margin-right: 5rem;
    margin-left: 2rem;
    margin-top: -34rem;
}

.picture{
	margin-left: 40rem;
}

#email{
    width: 100%;
}

#senha{
    width: 100%;
}

#botao_criar{
    width: 100%;
    background-color: rgb(51, 180, 255);
}
